{{left_sidebar_enabled,right_sidebar_enabled=True,False}}
{{extend 'layout.html'}}

<h4>Messaging Readme</h4>
<ul>
	<li> Features: </li>
	<ul>
		<li> Inbox with unread mail indicator </li>
		<li> Compose mail with option to attach file </li>
		<li> Sender/Reciever based on username (to be changed in future) </li>
		<li> Sent mail record </li>
	</ul>
	<li> To-Do: </li>
	<ul>
		<li> To display a specific no. of messages per page </li>
		<li> Option to delete </li>
		<li> Currently only one file can be attached. To be changed(decide on its UI as well) </li>
		<li> Improve the UI </li>
		<li> Error handling </li>
	</ul>
</ul>

{{block left_sidebar}}
<ul>
	<h5><li><a href='/911_signin/default/index'>HOME</a></li></h5>
	<h5><li>Messages</li></h5>
	<ul>
		{{ctr=db(db.auth_users.id == auth.user.id).select().first().unread_ctr}}
		<li>{{=A('INBOX', _href='/911_signin/default/inbox')}}<span class='notify'> ({{=ctr}})</span></li>
		<li>{{=A('Compose Mail', _href='/911_signin/default/compose')}}</li>
		<li>{{=A('Sent Mail', _href='/911_signin/default/outbox')}}</li>
	</ul>
</ul>
{{end}}
