{{left_sidebar_enabled,right_sidebar_enabled=True,False}}
{{extend 'layout.html'}}
<div class='msg_inbox'>
	<table border=1>
		{{for message in inbox:}}
		{{topic=message.subject}}
		{{if topic==None:}}
		{{topic="(no subject)"}}
		{{pass}}
		{{if message.read:}}
		<tr class='msg_read'><td>{{=message.sender}}</td><td width="400px">{{=A(topic, _href=URL("message", args=message.id))}}</td></tr>
		{{else:}}
		<tr class='msg_unread'><td>{{=message.sender}}</td><td width="400px">{{=A(topic, _href=URL("message", args=message.id))}}</td></tr>
		{{pass}}
		{{pass}}
	</table>
</div>
{{block left_sidebar}}
<ul>
	<h5><li><a href='/911_signin/default/index'>HOME</a></li></h5>
	<h5><li>Messages</li></h5>
	<ul>
		{{ctr=db(db.auth_users.id == auth.user.id).select().first().unread_ctr}}
		<li>{{=A('INBOX', _href='/911_signin/default/inbox')}}<span class='notify'> ({{=ctr}})</span></li>
		<li>{{=A('Compose Mail', _href='/911_signin/default/compose')}}</li>
		<li>{{=A('Sent Mail', _href='/911_signin/default/outbox')}}</li>
	</ul>
	<h5><li>Events</li></h5>
	<ul>
		<li>{{=A('Create Event', _href='/911_signin/default/events')}}</li>
		<li>{{=A('See all invitations', _href='/911_signin/default/invitations')}}<span class='notify'> ({{=ctr}})</span></li>
	</ul>

</ul>
{{end}}
