{{extend 'layout.html'}}
<ul>
	{{ctr=db(db.auth_users.id == auth.user.id).select().first().unread_ctr}}
	<li>{{=A('INBOX', _href='/911_signin/default/inbox')}}<span class='notify'> ({{=ctr}})</span></li>
	<li>{{=A('Compose Mail', _href='/911_signin/default/compose')}}</li>
	<li>{{=A('Sent Mail', _href='/911_signin/default/outbox')}}</li>
	</ul>
	<h5><li>Events</li></h5>
	<ul>
	<li>{{=A('Create Event', _href='/911_signin/default/events')}}</li>
	<li>{{=A('See all invitations', _href='/911_signin/default/invitations')}}<span class='notify'> ({{=ctr}})</span></li>
</ul>

 
 
