{{right_sidebar_enabled=True}}
{{extend 'myprofile_layout.html'}}
<div class='profile-page'>
	<h4>ABOUT</h4>
	{{=form}}
	<div class='experience'>
		<h4>EXPERIENCE</h4>
		{{for row in experience:}}
		<h5>{{=row.post}}</h5>
		<div id='place'>{{=row.hospital}} | {{=row.city}}, {{=row.country}}</div>
		<div id='date'>{{=row.start_date}} to {{=row.end_date}}</div>
		<div id='desc'>{{=row.description}}</div><br />
		{{pass}}
		<div id='add-experience-trigger' class='trigger'>Add experience</div>
		<div id='add-experience'>
			{{=form2}}
			<div id='add-experience-trigger2' class='trigger'>Hide Form</div>
		</div>	
	</div>	

	<div class='education'>
	<h4>EDUCATION</h4>
		{{for row in education:}}
		<h5>{{=row.degree}}</h5>
		<div id='place'>{{=row.institute}} | {{=row.city}}, {{=row.country}}</div>
		<div id='date'>{{=row.start_date}} to {{=row.end_date}}</div>
		<div id='desc'>{{=row.description}}</div><br />
		{{pass}}

	<div id='add-education-trigger' class='trigger'>Add education</div>
	<div id='add-education'>
		{{=form3}}
		<div id='add-education-trigger2' class='trigger'>Hide Form</div>
	</div>	
	</div>	
</div>

{{block right_sidebar}}
<div class='right sidebar'>
	<ul>
		<li>Connections go here</li>
		<li>Links go here</li>
	</ul>
</div>
{{end}}

<script src="{{=URL('static','js/911_profile.js')}}"></script>
