{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{if user:}}

{{extend 'profile_layout.html'}}

<div class="profile">
	{{if profile:}}
	{{user=profile.first()}}

	<h3>{{=user.prefix+" "+user.first_name+" "+user.last_name+" "+user.suffix}}</h3> {{if connect_form != None:}} {{=connect_form}} {{elif request.args(0) != auth.user.username:}} <div class='connected'>(Connected)</div> {{pass}}
	{{if user.email_share_with == "Everyone":}}
	<div class="email"><span class="label">Email:</span> {{=user.email}}</div>
	{{pass}}

	{{if user.phone_share_with == "Everyone":}}
	<div class="phone-no"><span class="label">Phone No:</span> {{=user.phone_no}}</div>
	{{pass}}

	<div class="chat_im"><span class="label">Chat/IM:</span> {{=user.chat_im}}</div>
	<div class="current-location"><span class="label">Location:</span> {{=user.current_location}}</div>
	<div class="hometown"><span class="label">Hometown:</span> {{=user.hometown}}</div>

	{{else:}}
	{{user=user.first()}}
	<h3>{{=user.first_name+" "+user.last_name}}</h3> {{if connect_form != None:}} {{=connect_form}} {{elif request.args(0) != auth.user.username:}} <div class='connected'>(Connected)</div> {{pass}}
	<div class="email"><span class="label">Email:</span> {{=user.email}}</div>
	{{pass}}
</div>	


{{if experience:}}
<div class='experience'>
	<h4>EXPERIENCE</h4>
	{{for row in experience:}}
	<h5>{{=row.post}}</h5>
	<div id='place'>{{=row.hospital}} | {{=row.city}}, {{=row.country}}</div>
	<div id='date'>{{=row.start_date}} to {{=row.end_date}}</div>
	<div id='desc'>{{=row.description}}</div><br />
	{{pass}}
</div>	
{{pass}}


{{if education:}}
<div class='education'>
	<h4>EDUCATION</h4>
	{{for row in education:}}
	<h5>{{=row.degree}}</h5>
	<div id='place'>{{=row.institute}} | {{=row.city}}, {{=row.country}}</div>
	<div id='date'>{{=row.start_date}} to {{=row.end_date}}</div>
	<div id='desc'>{{=row.description}}</div><br />
	{{pass}}
</div>	
{{pass}}


{{else:}}
<h2>INVALID USERNAME</h2>
{{pass}}
